html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
	
body{
	background-color: #0F0F0F;
	color: #FFFFFF;
}

h1 {
	font-size: 1.25em;
	font-family: 'Inter', sans-serif;
}

strong {
	font-family: Keania;
	color: #DEAC17;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.125em;
	font-weight: bolder;
}

.coming-soon p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.125em;
	font-weight: bolder;
	color: #2D2D2D;
}

main {
	margin: 5em 3em 2em 3em;
}


div {
	display: flex;
	justify-content: space-between;
}

hr {
	border: 1px solid #1F1F1F;
	margin: 1.5em 0em 1.5em 0em;
}


span:nth-child(0){
	display: none;
}

span {
	color : #676666;
}

li {
	text-align: left;
	margin-left: 0.75em;
}
.others-list {
	li:nth-child(1)::marker {
		color: #2D424F;
	  }
	  li:nth-child(2)::marker {
		color: #1CD761;
	  }
	  li:nth-child(3)::marker {
		color: #FF3D0D;
	  }
	  li:nth-child(4)::marker {
		color: #DEAC17;
	  }
}

a {
	display: flex;
	justify-content: space-between;
	margin-top: .5em;
}

.contact {
	margin-bottom: 1.5em;
}

.contact-and-others {
	display: flex;
	flex-direction: column;

	.section-title {
		margin-bottom: 1em;
	}
}

.description-layout{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}



@media (min-width: 920px) {
	
	main {
		margin: 10em 10em 5em 10em;
	}
	.contact-and-others{
		flex-direction: row;
		justify-content: space-between;
		gap: 4em;
		.contact {
			width: 50%;
		}
		.others {
			width: 50%;
		}
	}
}

@media (min-width: 1020px) {
	main {
		margin: 15em 15em 5em 15em;
	}
}

@media (min-width: 1440px) {
	main {
		margin: 15em 25em 5em 25em;
	}
}

@media (prefers-color-scheme: light){
	body {
		background-color: #ececec;
		color: #0F0F0F;
	}

	hr {
		border: 1px solid #d3d2d2;
	}

	svg path {
		fill: #0F0F0F;
	}

}





